@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /* پالت رنگی اختصاصی قلاب جادویی */
  --color-primary-pink: #F9B2D7;
  --color-soft-blue: #CFECF3;
  --color-mint-green: #DAF9DE;
  --color-soft-yellow: #F6FFDC;
  --color-text-dark: #374151;

  /* تنظیم فونت‌ها */
  --font-sans: "Vazirmatn", system-ui, sans-serif;
  --font-display: "Lalezar", system-ui, sans-serif;
}

body {
  background-color: var(--color-soft-blue);
  color: var(--color-text-dark);
  direction: rtl;
}